
<mat-toolbar class="custom-toolbar" >
    <mat-icon >menu</mat-icon>
    <div>
    <button mat-button [matMenuTriggerFor]="menuG5" style="color: white;" >Videos Favoritos</button>
    </div>
   </mat-toolbar>
   <mat-menu #menuG5="matMenu">
    <button mat-menu-item routerLink="/videosfav" >Listar</button>
    <button mat-menu-item routerLink="/videosfav/nuevo">Registrar</button>
   </mat-menu>
  <div [hidden]="route.children.length !== 0">
    <app-listarvideosfavoritos></app-listarvideosfavoritos>
  </div>
  <router-outlet></router-outlet>
  
