.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
  
.search-section {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.table-container {
    margin-top: 20px;
}
  
table {
    width: 100%;
}
  
.no-results {
    text-align: center;
    padding: 20px;
    color: #ff0707;
}
  
mat-form-field {
    width: 300px;
}