/* Estilos generales */
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Hace que ocupe toda la altura de la pantalla */
}
mat-form-field {
    width: 80%; /* Puedes ajustar el tamaño según tus necesidades */
    max-width: 400px; /* Limitar el tamaño máximo del mat-form-field */
    margin-bottom: 20px; /* Espaciado inferior */
}
h1 {
    text-align: center;
    color: #1565c0; 
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para el input de búsqueda */
.input-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #b0bec5;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.input-search:focus {
    border-color: #1565c0; /* Color al hacer focus */
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #b7d0f5; /* Fondo celeste para el encabezado */
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f1f8e9; /* Fila de color claro para mejorar la legibilidad */
}

/* Estilos para los botones (si decides agregar botones más tarde) */
button {
    background-color: #1565c0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0d47a1; /* Efecto al pasar el ratón */
}
