
<mat-toolbar class="custom-toolbar" *ngIf="verificar()">
    <mat-icon >menu</mat-icon>
    <div>
    <button mat-button [matMenuTriggerFor]="menuG5" style="color: white;" >Usuarios</button>
    </div>
   </mat-toolbar>
   <mat-menu #menuG5="matMenu">
    <button mat-menu-item routerLink="/usuarios" >Listar</button>
    <button mat-menu-item *ngIf="isAdmin()" routerLink="/usuarios/nuevo">Registrar</button>
   </mat-menu>
  <div [hidden]="route.children.length !== 0">
    <app-listarusuarios></app-listarusuarios>
  </div>
  <router-outlet></router-outlet>
  
