<div class="container">
    <h1>Informacion De Comentario</h1>
    <p><strong>titulo de sesion:</strong> {{ comentarios.ses.titulo }}</p>
    <p><strong>id de sesion:</strong> {{ comentarios.ses.id }} </p>
    <p><strong>nombre de usuario:</strong> {{ comentarios.usua.username }} </p>
    <p><strong>id del usuario:</strong> {{ comentarios.usua.id }} </p>
    <p><strong>fecha:</strong> {{ comentarios.fecha }}</p>
    <p><strong>comentario:</strong> {{ comentarios.comentario }}</p>
    <div>
      <button mat-button [routerLink]="['/comentarios']">Volver a la lista</button>
    </div>
  </div>