<mat-toolbar class="custom-toolbar" >
    <mat-icon >menu</mat-icon>
    <div>
    <button mat-button [matMenuTriggerFor]="menuG5" style="color: white;" >Sección</button>
    </div>
   </mat-toolbar>
   <mat-menu #menuG5="matMenu">
    <button mat-menu-item routerLink="/landing" >Salir a Landing Page</button>
    <button mat-menu-item routerLink="/video" >VideoPrueba</button>
    <button mat-menu-item routerLink="/cursos" >Cursos</button>
    <button mat-menu-item routerLink="/roles">Roles</button>
    <button mat-menu-item routerLink="/suscripciones">Suscripciones</button>
    <button mat-menu-item routerLink="/sesiones">Sesiones</button>
    <button mat-menu-item routerLink="/videos">Videos</button>
    <button mat-menu-item routerLink="/videosfav">Videos Favoritos</button>
    <button mat-menu-item routerLink="/usuarios">Usuarios</button>
    <button mat-menu-item routerLink="/cursosusuarios">Cursos de los Usuarios</button>
    <button mat-menu-item routerLink="/usuariossuscripciones">Suscripciones de los Usuarios</button>
    <button mat-menu-item routerLink="/cronogramas">Cronogramas</button>
    <button mat-menu-item routerLink="/comentarios">Comentarios</button>
   </mat-menu>
   <router-outlet></router-outlet>