
<mat-toolbar class="custom-toolbar" >
    <mat-icon >menu</mat-icon>
    <div>
    <button mat-button [matMenuTriggerFor]="menuG5" style="color: white;" >Cronogramas</button>
    </div>
   </mat-toolbar>
   <mat-menu #menuG5="matMenu">
    <button mat-menu-item routerLink="/cronogramas" >Listar</button>
    <button mat-menu-item routerLink="/cronogramas/nuevo">Registrar</button>
   </mat-menu>
  <div [hidden]="route.children.length !== 0">
    <app-listarcronogramas></app-listarcronogramas>
  </div>
  <router-outlet></router-outlet>
  