<mat-toolbar class="custom-toolbar" *ngIf="verificar()">
    <mat-icon >menu</mat-icon>
    <div>
    <button mat-button [matMenuTriggerFor]="menuG5" style="color: white;" >Cursos de los Usuarios</button>
    </div>
   </mat-toolbar>
   <mat-menu #menuG5="matMenu">
    <button mat-menu-item routerLink="/cursosusuarios" >Listar</button>
    <button *ngIf="isAdmin()" mat-menu-item routerLink="/cursosusuarios/nuevo">Registrar</button>
   </mat-menu>
  <div [hidden]="route.children.length !== 0">
    <app-listarcursosusuarios></app-listarcursosusuarios>
  </div>
  <router-outlet></router-outlet>
